<div class="wrapper">

  <table id="bproblem-index">
    <tbody>

      <tr>
        <td class="left-col-head">
          <h1> Sign Up </h1>
        </td>

        <td class="right-col-head">
          <h4> Frederick Bouldering </h4>
        </td>

      </tr>

        <tr>  <!-- main content -->

          <td class="left-col">  <!-- left column / list main areas-->

            <p> All contributors are required to first sign up.  </p>
            <br>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>

              <div class="field">
                <%= f.text_field :name, autofocus: true, placeholder: 'name' %>
              </div>

              <div class="field">
                <%= f.email_field :email, autofocus: true, placeholder: 'email' %>
              </div>

              <div class="field">
                <% if @minimum_password_length %>
                <em></em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "off", placeholder: "password - #{@minimum_password_length}+ chars" %>
              </div>

              <div class="field">
                <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'confirm password' %>
              </div>

              <div class="actions">
                <%= f.submit "Submit" %>
              </div>
            <% end %>

            <p>  <%= render "devise/shared/links" %> </p>


          </td>

          <!-- right column / extra info -->
          <td class="right-col">
            <div class="col-block">

            </div>

          </td>

        <tr>

      <tr><td></td></tr>
    </tbody>
  </table>
</div>
