<div class="wrapper">

  <table id="sub-area-show">
    <tbody>

      <tr>  <!-- header row -->
        <td class="left-col-head" colspan="2">
          <h1> <%= @sub_area.name %> </h1>

          <!-- breadcrumbs -->
          <div class="main-area-descrip-detail-block">
            <%= link_to @main_area.name, main_area_path(@main_area) %>
          </div>
        </td>

        <td class="right-col-head">
          <h4> Frederick Bouldering </h4>
        </td>

      </tr> <!-- header row -->


      <tr>  <!-- main content -->

        <td class="left-col" colspan="2">  <!-- left column / list main areas-->

          <div class="item">
            <h3> Description </h3>
            <div class="main-area-descrip"> <%= @sub_area.description %> </div>
          </div>

          <div class="item">
            <h3> Getting There </h3>
            <div class="main-area-descrip"> <%= @sub_area.location %> </div>
          </div>

          <div class="item">

            <div class="problems-header">
              <h3> Problems </h3>
            </div>

            <!-- display list of all problems in sub_area -->
            <div class="sub-area-listing">
              <%= link_to "+ Add Problem", new_bproblem_path(:sub_area_id => @sub_area.id) %> <br>

              <% @sub_area.bproblems.each do |bproblem| %>
                <% @bproblem_extended = "#{bproblem.name} #{bproblem.grade}" %>
                <%= link_to @bproblem_extended, bproblem_path(bproblem) %>
              <% end %>

              <br>
              <%= link_to "+ Add Problem", new_bproblem_path(:sub_area_id => @sub_area.id) %>

            </div>

          </div>

        </td> <!-- left col -->

        <td class="right-col"> <!-- right col -->

          <div class="col-block">
            <h3> Topo </h3>
            <hr>
          </div>

        </td> <!-- right col- -->

      </tr> <!-- main content -->

      <tr><td></td></tr>
    </tbody>
  </table>

</div> <!-- wrapper -->
