<div class="wrapper">

  <table id="bproblem-index">
    <tbody>

      <tr>
        <td class="left-col-head">
          <h1> All Problems </h1>
        </td>

        <td class="right-col-head">
          <h4> Frederick Bouldering </h4>
        </td>

      </tr>

        <tr>  <!-- main content -->

          <td class="left-col">  <!-- left column / list main areas-->

            <div class="problem-row">
              <div class="problem-cell"> Grade </div>
              <div class="problem-cell"> Name </div>
              <div class="problem-cell"> Subarea </div>
              <div class="problem-cell"> Main Area </div>
            </div>


            <% @bproblems.each do |bproblem| %>
              <div class="problem-row">
                <div class="problem-cell"> <%= bproblem.grade %> </div>
                <div class="problem-cell"> <%= link_to bproblem.name, bproblem_path(bproblem) %> </div>
                <div class="problem-cell"> <%= link_to bproblem.sub_area.name, sub_area_path(bproblem.sub_area) %> </div>
                <div class="problem-cell"> <%= link_to bproblem.sub_area.main_area.name, main_area_path(bproblem.sub_area.main_area) %> </div>
              </div>

            <% end %>


          </td>

          <!-- right column / extra info -->
          <td class="right-col">
            <div class="col-block">
              <h3> Access </h3>
              <hr>
              <p>  Help preserve and secure access to climbing and bouldering in and around Frederick. Abide by the standard <%= link_to 'leave no trace principles', 'https://lnt.org/', :target => "_blank" %> and tread lightly. Most of bouldering featured on this site is located on public land such as city-owned watersheds or state and national parks. For those areas with sensitive access please refrain from posting explicit directions until access is legitimized. </p>
            </div>

          </td>

        <tr>

      <tr><td></td></tr>
    </tbody>
  </table>
</div>
