<!DOCTYPE html>
<html>
  <head>
    <title>Frederick Bouldering - Maryland Climbing</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- import css in application.css -->
  </head>

  <body>
    <div class="navbar">

        <ul>
          <li> <%= link_to "Home", root_path %> </li>
          <li> <%= link_to "Climbing Areas", main_areas_path %> </li>
          <li> <%= link_to "Boulder Problems", bproblems_path %> </li>
          <li><a href="#"> Contribute <a/></li>
          <li><a href="#"> About <a/></li>
          <li></li>

        <% if user_signed_in? %>
          <li> <%= link_to 'Sign Out',destroy_user_session_path, method: :delete %> </li>

        <% else %>
          <li> <%= link_to 'Login', new_user_session_path %> </li>
          <li> <%= link_to 'Sign Up', new_user_registration_path %> </li>
        <% end %>

        </ul>
      </div>

    </div>
    <%= yield %>
  </body>
</html>
