<!DOCTYPE html>
<html>
  <head>
    <title>Frederick Bouldering - Maryland Climbing</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- import css in application.css -->
  </head>

  <body>
    <div class="navbar">
      <ul>
        <li><a href="#"> Register <a/></li>
        <li><a href="#"> Sign In <a/></li>
        <li><%= link_to "Areas", main_areas_path %></li>
        <li><a href="#"> Boulder Problems <a/></li>
        <li><a href="#"> About <a/></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
